# Copy this file to /etc/systemd/system/
# (or wherever systemd service files are stored on your computer)
# Then edit the WorkingDirectory and ExecStart fields,
# so they match the location of the repository

Description=HACS 2022 project
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=admin
WorkingDirectory=/home/admin/HACS2022-project/
ExecStart=/home/admin/HACS2022-project/venv/bin/waitress-serve --port=8086 app:app

[Install]
WantedBy=multi-user.target
